body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-left: 0;
}

.header{
    background-color: #12AAFF;
    text-align: end;
}
#titulo{
    text-align: start;
}
.navbar{
    background-color: #12AAFF;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}
.categorias{
    margin-top: 0;
    align-items: flex-start;
    grid: auto;
}
.Of{
    float: left;
}
.El{
    float: left;
}
.Cu{
    float: left;
}
.Ex{
    float: inline-end;
}